<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdUYNSqABssLoSZT7QSC8-VWg2SoBoLyY</string>
	<key>GCM_SENDER_ID</key>
	<string>825139150582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samuraidevs.blinq</string>
	<key>PROJECT_ID</key>
	<string>ione-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>ione-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825139150582:ios:ad8de3cf13c138bf8476d7</string>
</dict>
</plist>